<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Search Results</h1>
        <form action="/search" method="get">
            <input type="text" name="q" placeholder="Search artists or members..." value="{{.Query}}">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <h2>Search results for "{{.Query}}":</h2>
        <ul>
            {{range .Results}}
            <li>
                <h2>{{.Name}}</h2>
                <p>Creation Year: {{.CreationDate}}</p>
                <p>First Album: {{.FirstAlbum}}</p>
                <p>Members: {{range .Members}}{{.}}, {{end}}</p>
            </li>
            {{else}}
            <p>No results found.</p>
            {{end}}
        </ul>
    </main>
</body>
</html>
