<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Search Results</title>
</head>
<body>
    <!-- Search Results Title Section -->
    <div class="search-title-container">
        <h1>Search Results</h1>
    </div>

    <!-- Search Results Container -->
    <div class="artists">
        {{ range . }}
        <div class="artist">
            <img src="{{ .Image }}" alt="{{ .Name }}">
            <h2>{{ .Name }}</h2>
            <p>Founded: {{ .CreationDate }}</p>
            <a href="/artist?id={{ .ID }}">View Details</a>
        </div>
        {{ else }}
        <p>No results found.</p>
        {{ end }}
    </div>

    <!-- Back to Home Button -->
    <a href="/" class="back-to-home">Back to Home</a>
</body>
</html>
